LOCATE    COMP "i_clk"     SITE  "P3";
IOBUF     PORT "i_clk"     IO_TYPE=LVCMOS33 PULLMODE=NONE;
FREQUENCY PORT "i_clk"     25 MHZ;

LOCATE    COMP "o_led"     SITE  "U16";
IOBUF     PORT "o_led"     IO_TYPE=LVCMOS25 PULLMODE=NONE SLEWRATE=SLOW;

LOCATE    COMP "i_uart_rx" SITE  "H18";
IOBUF     PORT "i_uart_rx" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE    COMP "o_uart_tx" SITE  "J17";
IOBUF     PORT "o_uart_tx" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW DRIVE=4;
